@font-face {
  font-family: Kumbh Sans;
  src: url(font/KumbhSans-VariableFont_YOPQ\,wght.ttf);
}

:root {
  --dark-cyan: hsl(185, 75%, 39%);
  --very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --dark-grayish-blue: hsl(227, 10%, 46%);

  --dark-gray: hsl(0, 0%, 59%);
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--dark-cyan);
  font-family: Kumbh Sans;  
}

.main-container {
  height: 100vh;
  
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  overflow: hidden;
}

#bg-top {
  position: absolute;
  top: -550px;
  left: -328px;
}

#bg-bottom {
  position: absolute;
  bottom: -685px;
  right: -270px;
}

.card-container {
  background-color: #ffffff;
  border-radius: 15px;
  max-width: fit-content;
  box-shadow: 0 40px 60px rgba(0, 0, 0, .2);
  
  z-index: 100;
}

.card-images {
  position: relative;
}

#card-pattern-bg-image {
  width: 100%;
  border-radius: 15px 15px 0 0;
}

#avatar {
  border: 5px solid white;
  border-radius: 50%;
  
  position: absolute;
  bottom: -50px;
  left: 0%;
  right: 0;
  margin: auto;
}

.info {
  margin: 4.25rem 0 0 0;
  text-align: center;
}

.info h1 {
  font-size: 18px;
  font-weight: 400;
  color: var(--dark-grayish-blue);
}

.info span {
  font-weight: 700;
  margin-right: 8px;
  color: var(--very-dark-desaturated-blue)
}

#city {
  font-size: 14px;
  margin: 8px 0 24px 0;
  color: var(--dark-grayish-blue);
}

#line {
  border-bottom: 1px solid hsla(0, 0%, 59%, .25);
}

.stats {
  text-align: center;
  padding: 24px;

  display: flex;
  justify-content: space-around;
}

.count {
  color: var(--very-dark-desaturated-blue);
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 4px;
}

.category {
  color: var(--dark-grayish-blue);
  font-size: 10px;
  letter-spacing: 1.5px;
}

@media (max-width: 740px) {

  .card-container {
   max-width: 326px;
  }

  #bg-top {
    top: -700px;
    left: -728px;
  }
  
  #bg-bottom {
    bottom: -695px;
    right: -715px;
  }
}